<!-- CONTENT -->
<section id="content">
  <!-- MAIN -->
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Finance Management</h1>
      </div>
    </div>

    <ul class="box-info">
      <li>
        <mat-card>
            <mat-card-content>
                <i class="bx bx-line-chart"></i>
                <span class="text">
                  <h3>1020</h3>
                  <p>Total Invested</p>
                </span>
            </mat-card-content>
          </mat-card>
      </li>
      <li>
        <mat-card>
            <mat-card-content>
                <i class="bx bx-trending-down"></i>
                <span class="text">
                  <h3>$2834</h3>
                  <p>Fixed Expenses</p>
                </span>
            </mat-card-content>
          </mat-card>
      </li>
      <li>
        <mat-card>
          <mat-card-content>
            <i class="bx bxs-bank"></i>
            <span class="text">
              <h3>$2543</h3>
              <p>Total Raised</p>
            </span>
          </mat-card-content>
        </mat-card>
      </li>
    </ul>

    <div class="table-data">
      <div class="order">
        <div class="head">
          <h3>Last Transactions</h3>
        </div>
        <table>
          <thead>
            <tr>
              <th mat-header-cell>Category</th>
              <th mat-header-cell>Date Order</th>
              <th mat-header-cell>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of transactions">
              <td mat-cell>
                <p>Salary</p>
              </td>
              <td mat-cell>01-10-2023</td>
              <td mat-cell><span class="status completed">$3000</span></td>
              <td mat-cell>
                <button mat-fab extended color="warn" (click)="deleteTransaction(transaction.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->
