<div>
  <mat-grid-list cols="2" rowHeight="2:1">
    <div>
        <form class="login-form">
            <mat-form-field class="login-full-width">
              <mat-label>Username</mat-label>
              <input matInput placeholder="email@email.com" />
            </mat-form-field>
      
            <mat-form-field class="login-full-width">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" type="password" />
            </mat-form-field>
          </form>
    </div>
    <div>
        Oi
    </div>
  </mat-grid-list>
</div>
